
body{
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: orange;
    font-family: 'hack';
    font-size: 20px;
    box-sizing: border-box;
    
}
#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    color: black;
    height: 50px;
    margin-top: 0px;

}
.production{
    width: 90%;
    margin: 0% auto;
    display: flex;
    justify-content: center;
}
.data{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 30px;
    box-shadow: 0 0 10px;
    border-radius: 5px;
    font-size: 20px;
}
.data .sheds{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.data > form{
    width: 100%;
    padding: 20px;
}
button{
    margin-top: 20px;
    padding: 10px 20px;
    width: 100%;
    background-color: green;
    font-size: large;
    font-weight: 700;
    text-transform: capitalize;
    border: 2px solid white ;
}
.display{
    overflow: auto;
    width: 50%;
    box-shadow: 0px 0px 10px;
    border-radius: 4px;
    font-size: 16px;
    height: 550px;
}
#title2{
    text-align: center;
}
#Data2{
    padding: 0px 20px;
}

@media screen and (max-width:760px) {
    .production{
        display: flex;
        flex-direction: column;
    }
    .data{
        width: 100%;
        margin-bottom: 20px;
    }
    .display{
        width: 100%;
    }
    
}